.App {
  text-align: center;
  background-color: #242b3a;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  background-color: #242b3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
